<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import { Head,useForm } from '@inertiajs/vue3';

const props = defineProps({
    procesos:{type:Object},
    tipDocs:{type:Object},
    documento:{type:Object}
});
const form = useForm({
    nombre: props.documento.doc_nombre,
    contenido: props.documento.doc_contenido,
    tip_doc: props.documento.doc_id_tipo,
    proceso: props.documento.doc_id_proceso
});
</script>

<template #head>
    <div>
        <Head title="Editar Documento" />

        <AuthenticatedLayout>
            <div class="bg-white overflow-hidden shadow rounded p-3">
                <h1 class="font-semibold" style="font-size:25px;">Editar Documento</h1>
            </div>

            <div class="container m-auto mt-3 p-5 bg-white overflow-hidden shadow rounded">
                <form @submit.prevent="form.put(route('documentos.update',{docId: documento.doc_id}, {documento}))" class="row">
                    <div class="row">
                        <div class="col">
                            <InputLabel for="nombre" value="Nombre"></InputLabel>
                            <TextInput id="nombre" v-model="form.nombre" autofocus required class="border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm"></TextInput>
                            <InputError :message="form.errors.nombre" class="mt-1"></InputError>
                        </div>
                        <div class="col">
                            <InputLabel for="contenido" value="Contenido"></InputLabel>
                            <textarea class="border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm" id="contenido" v-model="form.contenido" autofocus required ></textarea>
                            <InputError :message="form.errors.contenido" class="mt-1"></InputError>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <InputLabel for="proceso" value="Proceso"></InputLabel>
                            <select id="proceso" v-model="form.proceso" autofocus required class="border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm" type="text">
                                <option value="">Seleccione...</option>
                                <option v-for="pro in procesos" :key="pro.pro_id" :value="pro.pro_id">{{pro.pro_nombre}}</option>
                            </select>
                            <selectError :message="form.errors.proceso" class="mt-2"></selectError>
                        </div>
                        <div class="col">
                            <InputLabel for="tip_doc" value="Proceso"></InputLabel>
                            <select id="tip_doc" v-model="form.tip_doc" autofocus required class="border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm" type="text">
                                <option value="">Seleccione...</option>
                                <option v-for="tip in tipDocs" :key="tip.tip_id" :value="tip.tip_id">{{tip.tip_nombre}}</option>
                            </select>
                            <selectError :message="form.errors.tip_doc" class="mt-2"></selectError>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <PrimaryButton :disabled="form.processing" class="btn btn-primary">Editar</PrimaryButton>
                        </div>
                    </div>
                </form>
            </div>
        </AuthenticatedLayout>
    </div>
</template>