<script setup>
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import { Head, Link, useForm } from "@inertiajs/vue3";
import DangerButton from "@/Components/DangerButton.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";
import SecondaryButton from "@/Components/SecondaryButton.vue";

import Swal from "sweetalert2";

const props = defineProps({
  documents: { type: Object },
});
const form = useForm({
  id: "",
});
const eliminarDocumento = (id) => {
  const alerta = Swal.mixin({
    buttonsStyling: true,
  });
  alerta
    .fire({
      title: "¿Estás Seguro?",
      icon: "question",
      showCancelButton: true,
      confirmButtonText: '<i class="fa-solid fa-check"></i> Si',
      cancelButtonText: '<i class="fa-solid fa-ban"></i> No',
    })
    .then((result) => {
      if (result.isConfirmed) {
        form.delete(route("documentos.destroy", id));
      }
    });
};
</script>

<template #header>
  <AuthenticatedLayout>
    <div>
      <Head title="Documentos" />

      <div class="bg-white d-grid p-2">
        <h1 class="font-semibold" style="font-size:25px;">Listado de documentos</h1>
      </div>
      
       <div class="p-3">
    <div class="bg-white d-grid p-2">
        <div class="mt-3 mb-3 d-flex mx-auto text-center">
            <Link
                :href="route('documentos.create')"
                class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 focus:bg-gray-700 active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150">
                <i class="fa-solid fa-plus-circle"></i> Crear Documento
            </Link>
        </div>
    </div>
    <div class="bg-white d-grid justify-content-center mt-3 p-3">
        <div class="row">

        </div>
        <table class="table border border-secondary w-100">
            <thead>
                <tr class="bg-light">
                    <th class="px-4 py-4">#</th>
                    <th class="px-4 py-4">Nombre</th>
                    <th class="px-4 py-4">Código</th>
                    <th class="px-4 py-4">Contenido</th>
                    <th class="px-4 py-4">Tipo</th>
                    <th class="px-4 py-4">Proceso</th>
                    <th class="px-4 py-4"></th>
                    <th class="px-4 py-4"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(doc, i) in documents" :key="doc.doc_id">
                    <td class="border border-secondary px-4 py-4">{{ i + 1 }}</td>
                    <td class="border border-secondary px-4 py-4">{{ doc.doc_nombre }}</td>
                    <td class="border border-secondary px-4 py-4">{{ doc.doc_codigo }}</td>
                    <td class="border border-secondary px-4 py-4">{{ doc.doc_contenido }}</td>
                    <td class="border border-secondary px-4 py-4">{{ doc.tip_nombre }}</td>
                    <td class="border border-secondary px-4 py-4">{{ doc.pro_nombre }}</td>
                    <td class="border border-secondary px-4 py-4">
                        <Link
                            :href="route('documentos.edit', doc.doc_id)"
                            class="inline-flex items-center px-4 py-2 bg-white border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 disabled:opacity-25 transition ease-in-out duration-150">
                        Editar </Link>
                    </td>
                    <td class="border border-secondary px-4 py-4">
                        <DangerButton @click="eliminarDocumento(doc.doc_id)">Borrar</DangerButton>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    </div>
  </AuthenticatedLayout>
</template>