<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head } from '@inertiajs/vue3';

</script>

<template>
<div>
    <Head title="Dashboard" />

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Dashboard</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg text-center">
                    <div class="p-6 text-gray-900" style="font-size:14px; font-weight:bold;">¡BIENVENIDO!</div>
                    <div class="flex justify-center pb-3">
                        <img src="/images/hola-47.gif" alt="hola" style="width:300px; height:300px;">
                    </div>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>

</div>
</template>
